# Node.js 기본
node_modules/
dist/
build/

# 환경 설정
.env
.env.*  # .env.dev, .env.production 등

# 로그 및 캐시
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/에디터 관련
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# TypeScript
*.tsbuildinfo

# 테스트 관련
coverage/
next.config.ts